<button class="search-icon" data-fancybox data-src="#search-modal" type="button"><i class="nucleo icon-zoom-2"></i></button>
<button class="mobile-icon hamburger hamburger--slider" type="button">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</button>
