<form action="{{ url('/search') }}" method="get">
	 <input type="search" name="search" placeholder="Enter a keyword of your search term...">
 	<button><i class="nucleo icon-zoom-2"></i></button>
</form>
