{% extends "layouts/oneColumn" %}
{% block bodyClass %}interior services-page{% endblock %}
{% block top %}
<section class="page-header">
	<div class="row align-middle align-center">
		<div class="large-12 medium-12 small-12 columns">
			<div class="header-content">
				<nav class="breadcrumbs" role="navigation">
					<div class="row align-middle">
						<div class="large-12 medium-12 small-12 columns">
							{% include 'functions/breadcrumbs' %}
						</div><!--columns-->
					</div><!--row-->
				</nav><!--breadcrumbs-->
				<h1>{{ entry.title }}</h1>
			</div><!--header-content-->
		</div><!--columns-->
	</div><!--row-->
</section><!--page-header-->
{% endblock %}
{% block main %}
{% for block in entry.clientPageSection %}
{% switch block.type %}
{% case 'introSection' %}
<section class="page-section client-story-intro-section">
	<div class="row section-row">
		<div class="large-12 medium-12 small-12 column">
			{% if block.serviceIntroText|length %}
			<div class="client-story-intro">{{ block.serviceIntroText }}</div>
			{% endif %}
		</div><!--columns-->
	</div><!--row-->
</section><!--testimonies-section-->

{% case 'clientStoriesSection' %}
<section class="page-section">
	<div class="row section-row">
		{% for block in block.children.all() %}
		{% set loopIndex = loop.index %}
		<div class="large-10 medium-12 small-12 column" style="margin:auto;">
			<div class="content-block">
				{% include 'blockTypes/' ~ block.type with {'entry': block} %}
			</div><!--content-block-->
		</div><!--columns-->
		{% endfor %}
	</div><!--row-->
</section><!--callout-section-->
{% endswitch %}
{% endfor %}
{% endblock %}
{% block bottom %}
{% include 'includes/global-cta' %}
{% endblock %}
{% block scripts %}
{% endblock %}
