/* Header
-----------------------------------------------------------------------*/

.header {
    width: 100%; height: auto;
    position: fixed;
    top: 0; left: 0; right: 0;
	   z-index: 9999;
    will-change: all;
    transition: all 0.25s ease;
    ul {
        padding: 0; margin: 0;
        list-style: none;
        li, a {
            padding: 0; margin: 0;
            display: inline-block;
        }
    }
    .header-top {
        padding: 10px 0;
        background-color: $color-light-grey;
        @media screen and (max-width: $responsive-small) {
             padding: 10px 0;
             text-align: center;
             float: none;
        }
        .socialnav {
            float: left;
            margin-right: 10px;
            @media screen and (max-width: $responsive-small) { margin-right: 0; }
            ul {
                li {
                    margin-right: 5px;
                    a {
                        width: 24px; height: 24px;
                        color: $color-white;
                        font-size: 0.75rem;
                        line-height: 24px;
                        text-align: center;
                        border-radius: 2px;
                        background-color: $color-primary;
                        &:hover {
                            color: $color-white;
                            background-color: darken($color-primary, 10%);
                        }
                    }

                }
            }
        }
        .callus {
            display: inline-block;
            color: $color-font-black;
            font-size: 0.875rem;
            font-family: $font-secondary;
            font-weight: $font-secondary-bold;
            text-transform: capitalize;
            a {
                color: $color-font-black;
                font-family: $font-secondary;
                font-weight: $font-secondary-bold;
                &:hover {
                    color: $color-primary;
                }
            }
        }
        .utilitynav {
            float: right;
            text-align: right;
            font-family: $font-secondary;
            text-transform: capitalize;
            @media screen and (max-width: $responsive-small) { text-align: center;  float: none; }
            ul {
                li {
                    margin-left: 15px;
                    &.search-icon {
                      @media screen and (max-width: $responsive-small) { display:none; }
                    }
                    a {
                        color: $color-font-black;
                        font-size: 0.875rem;
                        font-family: $font-secondary;
                        font-weight: $font-secondary-bold;
                        &:hover {
                            color: $color-primary;
                        }
                    }
                    &:before {
                      margin-right: 15px;
                      margin-left: -5px;
                      display: inline-block;
                      content: "|";
                      color: lighten($color-medium-grey, 10%);
                      font-family: sans-serif;
                      font-weight: $font-primary-regular;
                            font-size: 14px;
                      @media screen and (max-width: $responsive-medium) {
                        margin-right: 5px;
                      }
                    }
                    &:first-child:before {
                      content: " ";
                    }
                }
            }
        }
    }
    .header-middle {
        background-color: transparent;
        position: relative;
        @media screen and (max-width: $responsive-small) {
            height: 80px;
          }
        @media screen and (max-width: $responsive-medium) {
          padding: 20px 0;
          height: 100px;
          background-color: #fff;
        }
        .brand {
            img {
                width: auto; height: auto;
            }
        }
        .mainnav {
            text-align: right;
            @media screen and (max-width: $responsive-medium) { display: none; }
            ul {
                padding: 0; margin: 0;
                list-style: none;
                box-sizing: border-box;
                &:before,
                &:after {
                    content: "";
                    display: table;
                }
                &:after {
                    clear: both;
                }
                li {
                    margin-left: 20px;
                    position: relative;
                    line-height: 90px;
                    transition: all 0.25s ease;
                    @media screen and (max-width: 1280px) {
                        margin-left: 10px;
                    }
                    &.navbtn > a {
                        height: 45px;
                        padding: 0 32.5px;
                        font-size: 13px;
                        text-transform: capitalize;
                        letter-spacing: 1px;
                        line-height: 45px;
                        font-weight: $font-primary-bold;
                        color: $color-white;
                        border-radius: 4px;
                        text-align: center;
                        background-color: $color-primary;
                        &:hover {
                          color: $color-white;
                          background-color: lighten($color-primary, 10%);
                        }
                    }
                    &.dropdown-icon a:after {
                        margin-left: 5px;
                        position: relative;
                        top: 1px;
                        display: inline-block;
                        content: "\eb54";
                        font-family: 'Nucleo';
                        font-size: 10px;
                        font-weight: 600;
                        cursor: pointer;
                        color: inherit;
                    }
                    &.dropdown-icon > ul > li a:after {
                        margin-left: 0;
                        content: none;
                    }
                    &.search-icon {
                        i {
                            position: relative;
                            top: 1px;
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                    a {
                        color: $color-black;
                        font-size: 0.9375rem;
                        font-weight: $font-primary-semibold;
                        text-transform: capitalize;
                        letter-spacing: .02rem;
                        &:hover {
                            color: $color-primary;
                        }
                    }
                    &.active a {
                        color: $color-primary;
                    }
                    ul {
                        width: 240px;
                        padding: 30px 0; margin: 0;
                        float: left;
                        position: absolute;
                        top: 60px; left: 0;
                        opacity: 0;
                        visibility: hidden;
                        text-align: left;
                        line-height: normal;
                        -webkit-transform: translateY(0);
                        -ms-transform: translateY(0);
                        transform: translateY(0);
                        -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
                        -moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
                        -ms-transition: all 4300ms cubic-bezier(0.645, 0.045, 0.355, 1);
                        -o-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
                        transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
                        li {
                            width: 100%;
                            height: auto;
                            padding: 0 10px; margin: 0 0 5px 0;
                            display: block;
                            line-height: normal;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            &.dropdown-icon > ul > li a:after {
                                margin-left: 0;
                                content: none;
                            }
                            a {
                                width: 100%;
                                display: block;
                                padding: 10px 15px; margin: 0;
                                color: $color-white;
                                font-weight: $font-primary-medium;
                                text-transform: none;
                                letter-spacing: normal;
                                line-height: normal;
                                background-color: rgba($color-white, 0);
                                &:hover {
                                    color: $color-primary;
                                    background-color: $color-white;
                                }
                            }
                        }
                    }
                    &.active ul li a {
                        color: $color-white;
                        &:hover {
                            color: $color-primary;
                            background-color: $color-white;
                        }
                    }
                    &:hover ul {
                        opacity: 1;
                        visibility: visible;
                        z-index: 9999;
                        -webkit-transform: translateY(30px);
                        -ms-transform: translateY(30px);
                        transform: translateY(30px);
                        background-color: $color-primary;
                        box-shadow: $shadow-depth-5;
                    }
                }
            }
        }
    }
    &.headroom--pinned {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        position: fixed;
        background-color: rgba($color-white, 1);
    }
    &.headroom--unpinned {
        -webkit-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
        transform: translateY(-150%);
        background-color: rgba($color-white, 0);
    }
    &.headroom--top {
        background-color: rgba($color-white, 0);
    }
    &.headroom--not-top {
        background-color: rgba($color-white, 1);
        box-shadow: $shadow-depth-4;
        .brand {
            position: absolute;
            top: 20px;
            @media screen and (max-width: $responsive-small) {
              height: 40px;
              top: 0px;
              position: relative;
            }
            svg {
                fill: $color-black;
                &:hover {
                    fill: $color-primary;
                }
            }
        }
        ul li {
            height: 15px;
            line-height: 15px;
            &:hover ul {
                -webkit-transform: translateY(11px);
                -ms-transform: translateY(11px);
                transform: translateY(11px);
            }
        }
        a,
        ul li a {
            color: $color-black;
            &.active,
            &:hover {
                color: $color-primary;
            }
        }
        .header-middle {
          height: 100px;
          background-color: $color-white;

        }
        .header-top {
          background-color: $color-light-grey;
        }
    }
}

/* Mobile Nav */

.mobilenav {
    display: none;
    text-align: right;
    @media screen and (max-width: $responsive-medium) { display: block; }
    .search-icon,
    .mobile-icon {
        width: 40px; height: 40px;
        padding: 0;
        border-radius: 1px;
        overflow: hidden;
        border: none;
        background-color: $color-primary;
        transition: all 0.25s ease;
        outline: none;
        &:focus,
        &:hover {
            background-color: $color-primary;
        }
    }
    .search-icon {
        margin-right: 10px;
        text-align: center;
        content: "Search ";
        i {
            position: relative;
            left: 0; top: 4px;
            line-height: 0;
            color: $color-white;
            font-size: 18px;
        }
    }
    .mobile-icon {
        &.is-active {
            border-color: $color-primary;
            background-color: $color-primary;
            .hamburger-inner:before,
            .hamburger-inner:after {
                background-color: $color-white;
            }
        }
        .hamburger-box {
            height: 12px;
        }
        &:before,
        &:after {
            content: none;
        }
    }
}

.canvasnav {
    height: 100%;
    padding: 20px 0;
	z-index: 9999;
    background-color: $color-primary;
    .mobilenav ul {
        width: 100%;
        padding: 0; margin: 0;
        list-style: none;
        float: left;
        box-sizing: padding-box;
        text-align: left;
        li, a {
            width: 100%;
            float: left;
            display: block;
        }
        li {
            padding: 0; margin: 0;
            position: relative;
            a {
                padding: 0 30px;
                height: 50px;
                line-height: 45px;
                position: relative;
                color: $color-white;
                font-size: 1.063rem;
                &:hover,
                &:focus,
                &:active {
                    color: $color-black;
                    &:before {
                        width: 20px;
                        opacity: 1;
                    }
                }
            }
            &.search-icon {
                display: none;
            }
            ul {
                padding: 0 30px;
                display: none;
                background-color: $color-white;
                li {
                    min-height: auto;
                    line-height: normal;
                    &:first-child {
                        padding-top: 15px;
                    }
                    &:last-child {
                        padding-bottom: 15px;
                    }
                    a {
                        height: auto;
                        padding: 10px 0;
                        font-size: 1rem;
                        line-height: normal;
                        color: $color-primary;
                        &:hover {
                            color: $color-black;
                        }
                        &:before {
                            left: -30px; top: 20px;
                            background-color: $color-primary;
                        }
                    }
                }
            }
            .drop-button {
                width: 30px; height: 30px;
                padding: 0; margin: 0;
                position: absolute;
                right: 10px; top: 7px;
                border: 0;
                color: $color-black!important;
                font-size: 16px;
                text-align: center;
                letter-spacing: 0px;
                outline: 0;
                background-color: $color-white;
                i {
                    padding: 0; margin: 0;
                    position: relative;
                    font-size: 0.8125rem;
                    display: block;
                    transform-origin: 50%;
                    transition: all 200ms ease;
                }
                &.open {
                    background-color: $color-white;
                    i {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
}

/* Canvas Menu */

[off-canvas*=push] {
    z-index: 9999;
}

[off-canvas*=right] {
  width: 300px;
}

#overlay {
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0; right: 0;bottom: 0;
    visibility: hidden;
    opacity: 0;
    background-color: rgba($color-black, 0.50);
    z-index: 9998;
    @include transition($transitions-primary);
}

.js-close-any #overlay {
    visibility: visible;
    opacity: 1;
}

/* Home Header
-----------------------------------------------------------------------*/

.home-header {
    width: 100%; height: auto;
    position: fixed;
    top: 0; left: 0; right: 0;
	   z-index: 9999;
    will-change: all;
    transition: all 0.25s ease;
    ul {
        padding: 0; margin: 0;
        list-style: none;
        li, a {
            padding: 0; margin: 0;
            display: inline-block;
        }
    }
    .header-top {
        padding: 10px 0;
        background-color: #FBFCEE;
        @media screen and (max-width: $responsive-small) {
             padding: 10px 0;
             text-align: center;
             float: none;
             background-color: $color-light-grey;
        }
        .socialnav {
            float: left;
            margin-right: 10px;
            @media screen and (max-width: $responsive-small) { margin-right: 0; }
            ul {
                li {
                    margin-right: 5px;
                    a {
                        width: 24px; height: 24px;
                        color: $color-white;
                        font-size: 0.75rem;
                        line-height: 24px;
                        text-align: center;
                        border-radius: 2px;
                        background-color: $color-primary;
                        &:hover {
                            color: $color-white;
                            background-color: darken($color-primary, 10%);
                        }
                    }
                }
            }
        }
        .callus {
            display: inline-block;
            color: $color-font-black;
            font-size: 0.875rem;
            font-family: $font-secondary;
            font-weight: $font-secondary-bold;
            text-transform: capitalize;
            a {
                color: $color-font-black;
                font-family: $font-secondary;
                font-weight: $font-secondary-bold;
                &:hover {
                    color: $color-primary;
                }
            }
        }
        .utilitynav {
            float: right;
            text-align: right;
            font-family: $font-secondary;
            text-transform: capitalize;
            @media screen and (max-width: $responsive-small) { text-align: center;  float: none; }
            ul {
                li {
                    margin-left: 15px;
                    &.search-icon {
                      @media screen and (max-width: $responsive-small) { display:none; }
                    }
                    a {
                        color: $color-font-black;
                        font-size: 0.875rem;
                        font-family: $font-secondary;
                        font-weight: $font-secondary-bold;
                        &:hover {
                            color: $color-primary;
                        }
                    }
                    &:before {
                      margin-right: 15px;
                      margin-left: -5px;
                      display: inline-block;
                      content: "|";
                      color: lighten($color-medium-grey, 10%);
                      font-family: sans-serif;
                      font-weight: $font-primary-regular;
                            font-size: 14px;
                      @media screen and (max-width: $responsive-medium) {
                        margin-right: 5px;
                      }
                    }
                    &:first-child:before {
                      content: " ";
                    }
                }
            }
        }
    }
    .header-middle {
      background-color: #FBFCEE;
        @media screen and (max-width: $responsive-medium) {
          padding: 20px 0;
          background-color: #fff !important;
        }
        .brand {
            img {
                width: auto; height: auto;
            }
        }
        .mainnav {
            text-align: right;
            @media screen and (max-width: $responsive-medium) { display: none; }
            ul {
                padding: 0; margin: 0;
                list-style: none;
                box-sizing: border-box;
                &:before,
                &:after {
                    content: "";
                    display: table;
                }
                &:after {
                    clear: both;
                }
                li {
                    margin-left: 20px;
                    position: relative;
                    line-height: 90px;
                    transition: all 0.25s ease;
                    @media screen and (max-width: 1280px) {
                        margin-left: 10px;
                    }
                    &.navbtn > a {
                        height: 45px;
                        padding: 0 32.5px;
                        font-size: 13px;
                        text-transform: capitalize;
                        letter-spacing: 1px;
                        line-height: 45px;
                        font-weight: $font-primary-bold;
                        color: $color-white;
                        border-radius: 4px;
                        text-align: center;
                        background-color: $color-primary;
                        &:hover {
                          color: $color-white;
                          background-color: lighten($color-primary, 10%);
                        }
                    }
                    &.dropdown-icon a:after {
                        margin-left: 5px;
                        position: relative;
                        top: 1px;
                        display: inline-block;
                        content: "\eb54";
                        font-family: 'Nucleo';
                        font-size: 10px;
                        font-weight: 600;
                        cursor: pointer;
                        color: inherit;
                    }
                    &.dropdown-icon > ul > li a:after {
                        margin-left: 0;
                        content: none;
                    }
                    &.search-icon {
                        i {
                            position: relative;
                            top: 1px;
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                    a {
                        color: $color-black;
                        font-size: 0.9375rem;
                        font-weight: $font-primary-semibold;
                        text-transform: capitalize;
                        letter-spacing: .02rem;
                        &:hover {
                            color: $color-primary;
                        }
                    }
                    &.active a {
                        color: $color-primary;
                    }
                    ul {
                        width: 240px;
                        padding: 30px 0; margin: 0;
                        float: left;
                        position: absolute;
                        top: 60px; left: 0;
                        opacity: 0;
                        visibility: hidden;
                        text-align: left;
                        line-height: normal;
                        -webkit-transform: translateY(0);
                        -ms-transform: translateY(0);
                        transform: translateY(0);
                        -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
                        -moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
                        -ms-transition: all 4300ms cubic-bezier(0.645, 0.045, 0.355, 1);
                        -o-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
                        transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
                        li {
                            width: 100%;
                            height: auto;
                            padding: 0 10px; margin: 0 0 5px 0;
                            display: block;
                            line-height: normal;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            &.dropdown-icon > ul > li a:after {
                                margin-left: 0;
                                content: none;
                            }
                            a {
                                width: 100%;
                                display: block;
                                padding: 10px 15px; margin: 0;
                                color: $color-white;
                                font-weight: $font-primary-medium;
                                text-transform: none;
                                letter-spacing: normal;
                                line-height: normal;
                                background-color: rgba($color-white, 0);
                                &:hover {
                                    color: $color-primary;
                                    background-color: $color-white;
                                }
                            }
                        }
                    }
                    &.active ul li a {
                        color: $color-white;
                        &:hover {
                            color: $color-primary;
                            background-color: $color-white;
                        }
                    }
                    &:hover ul {
                        opacity: 1;
                        visibility: visible;
                        z-index: 9999;
                        -webkit-transform: translateY(30px);
                        -ms-transform: translateY(30px);
                        transform: translateY(30px);
                        background-color: $color-primary;
                        box-shadow: $shadow-depth-5;
                    }
                }
            }
        }
    }
    &.headroom--pinned {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        position: fixed;
        background-color: rgba($color-white, 1);
    }
    &.headroom--unpinned {
        -webkit-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
        transform: translateY(-150%);
        background-color: rgba($color-white, 0);
    }
    &.headroom--top {
        background-color: rgba($color-white, 0);
    }
    &.headroom--not-top {
        background-color: rgba($color-white, 1);
        box-shadow: $shadow-depth-4;
        .brand {
            position: absolute;
            top: 60px;
            @media screen and (max-width: $responsive-small) {
              height: 40px;
              top: 0px;
              position: relative;
            }
            svg {
                fill: $color-black;
                &:hover {
                    fill: $color-primary;
                }
            }
        }
        ul li {
            height: 15px;
            line-height: 15px;
            &:hover ul {
                -webkit-transform: translateY(11px);
                -ms-transform: translateY(11px);
                transform: translateY(11px);
            }
        }
        a,
        ul li a {
            color: $color-black;
            &.active,
            &:hover {
                color: $color-primary;
            }
        }
        .header-middle {
          height: 100px;
          background-color: $color-white;
          @media screen and (max-width: $responsive-small) {
            height: 80px;
          }
          @media screen and (max-width: $responsive-medium) {
            height: 100px;
          }
        }
        .header-top {
          background-color: $color-light-grey;
        }
    }
}
