<section class="page-section newsletter-form-block">
  <div class="row align-center">
    <div class="large-10 medium-10 small-12 column newsletter-form-container" style="margin:auto;">
        <div style="max-width:900px; margin: auto;">
          <h3 style="font-size:30px;">Stay up-to-date on finance with our articles, book releases, and more!</h3>
          <form id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="5B5E7037DA78A748374AD499497E309E321758A2D2E379E57C7B8626E82362BF8069F74D196393607EF4160071A1F1FB29234B813731CC9173965839763A3A6F">
          <div class="fields-newsletterName">
              <label for="fieldName">Name</label>
              <input id="fieldName" name="cm-name" placeholder="Name" type="text" />
          </div>
          <div class="fields-newsletterEmail">
              <label for="fieldEmail">Email</label>
              <input id="fieldEmail" name="cm-jrhujjl-jrhujjl" placeholder="Email" type="email" class="js-cm-email-input"
              required />
          </div>
          <div>
              <button class="js-cm-submit-button" type="submit">Subscribe</button>
          </div>
          </form>
          <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
        </div>
    </div>
  </div><!--row-->
</section>
