{% extends "layouts/oneColumn" %}

{% block bodyClass %}interior page-not-found{% endblock %}

{% block top %}
<section class="page-header">
	<div class="row align-middle align-center">
		<div class="large-7 medium-12 small-12 columns">
			<div class="header-content">
				<h1>404</h1>
				<h2>Page not found</h2>
				<p>The page you are looking for was moved, removed, renamed or might never existed. You can return to our <a href="/">homepage</a> or you can try <a data-fancybox data-src="#search-modal" href="javascript:;">searching</a> again.</p>
			</div><!--header-content-->
		</div><!--columns-->
	</div><!--row-->
</section><!--page-header-->
{% endblock %}

{% block bottom %}
{% endblock %}
