/* Services
-----------------------------------------------------------------------*/

/* Page Header */

body.interior {
     &.services-category,
     &.services-detail {
          .page-header .header-content {
               padding: 60px 0 80px;
             }
          .page-section .section-header {
               @media screen and (max-width: $responsive-medium) { text-align: left; }
          }
     }
}

/* Services Content */

.service-detail-header-text{
  padding-top: 40px;
}

.product-block {
     margin-bottom: 30px;
     h3 a {
          color: $color-black;
          &:hover {
               color: $color-primary;
          }
     }
     img {
          margin-bottom: 20px;
     }
}

.services-page {
  .header-content {
    padding: 60px 0 0 0 !important;
  }
  .service-intro-section {
    padding: 20px 0 80px 0;
  }
  .service-overview{
    width:220px; width: 220px; float: right; z-index: 1; margin: -30px 0; color: white;
    @media screen and (max-width: $responsive-small) { float: none;}
    p{
      color: white;
      margin: 0;
      padding: 15px 0;
    }
  }
  .service-block-item-content{
    @media screen and (max-width: $responsive-small) { text-align: center;}
  }
  /* enable Flickity by default */
  .main-carousel:after {
    content: 'flickity';
    display: none; /* hide :after */
  }

  @media screen and ( min-width: 768px ) {
    /* disable Flickity for large devices */
    .main-carousel:after {
      content: '' !important;
    }
  }
  .splitSectionBlockRight .split-section-left .split-section-content {
    padding: 40% 0 180px 20%;
    @media screen and (max-width: $responsive-small) { padding: 0; }
  }
}

.service-intro{
  column-count:2;
  @media screen and (max-width: $responsive-medium) { column-count:1; }
}

.main-carousel#services-carousel{
    .flickity-viewport{
      width: 100vw;
    }
    .carousel-cell{
      margin-left: auto;
    }
    .column {
      width: 100vw;
      float: left;
    }

}
@media screen and (max-width: $responsive-small) {
  .splitSectionBlockRight {
    .split-section-right {
      width: 100vw !important;
      height: 200px !important;
      position: relative !important;
      right: auto !important;
    }
    .split-section-left {
      min-height: 300px !important;
      display: block !important;
      position: relative !important;
      height: auto !important;
      margin-left: 0 !important;
    }
  }
  .split-section .split-section-left {
    position: relative !important;
    height: auto !important;
    margin-left: 0 !important;
  }
}

.service-links {
  z-index: 9999999;
  position: absolute;
  background: white;
  top: 25vh;
  padding: 50px 25px;
  font-weight: bold;
  font-family: $font-primary;
  @media screen and (max-width: $responsive-small) { display: none; }
  p {
      color: $color-primary !important;
  }
  a {
    font-size: 20px;
    font-weight: bold;
  }
}

.split-section-left {
  .service-links {
    z-index: 9999999;
    position: absolute;
    background: white;
    top: 20vh;
    padding: 50px 25px;
    left: 60%;
    width: 280px;
  }
}
