<section class="page-header">
	<div class="row align-middle align-center">
		<div class="large-12 medium-12 small-12 columns">
			<div class="header-content" style="text-align:center;">
				<h1>{{ entry.title }}</h1>
				<span class="date">
					{{ entry.postDate|date('F j, Y') }}
				</span>
			</div><!--header-content-->
		</div><!--columns-->
	</div><!--row-->
</section><!--page-header-->
