<aside class="large-3 medium-12 small-12 column sidebar">
	<div class="sidebar-block">
		{% include 'functions/sectionnav' %}
	</div><!--sidebar-block-->
	<div class="sidebar-block">
		{% include 'includes/resource-categories' %}
	</div><!--sidebar-block-->
	<div class="sidebar-block">
		{% include 'includes/resource-authors' %}
	</div><!--sidebar-block-->
</aside><!--sidebar-->
